<div class="new-container">
  <h3>Write a New Letter</h3>
    
    <p *ngIf="savingErr" class="error">
      {{ savingErr }}
    </p>

  <form (ngSubmit)="saveNewStory()">

    <label for="story-category-input"> Letter Category </label>
    <select id="story-category-input" placeholder="letter category" [(ngModel)]="storyData.category" name="category" required>
      <option value="Valentine">Valentine</option>
      <option value="Anniversary">Anniversary</option>
      <option value="Sorry">Sorry</option>
      <option value="Love">Love</option>
      <option value="Birthday">Birthday</option>
      <option value="Holiday">Holiday</option>
      <option value="Miss">I Miss You</option>
    </select>
    <br>

    <label for="story-title-input"> Letter Title </label>
    <input id="story-title-input" type="text" placeholder="letter title" [(ngModel)]="storyData.title" name="title">
    <br>

    <label for="story-salutation-input"> Letter Salutation </label>
    <select id="story-salutation-input" placeholder="letter salutation" [(ngModel)]="storyData.salutation" name="salutation">
      <option value="Dear">Dear</option>
      <option value="Dearest">Dearest</option>
      <option value="Hello">Hello</option>
      <option value="Hi">Hi</option>
      <option value="My">My</option>
      <option value="For">For</option>
      <option value="To">To</option>
    </select>
    <br>

    <label for="story-recipient-input"> Letter Recipient </label>
    <input id="story-recipient-input" type="text" placeholder="letter recipient" [(ngModel)]="storyData.recipient" name="recipient">
    <br>

    <label for="story-content-input"> Letter Content </label>
    <input id="story-content-input" type="text" placeholder="letter content" [(ngModel)]="storyData.content" name="content">
    <br>

    <label for="story-signoff-input"> Letter Signoff </label>
    <select id="story-signoff-input" placeholder="letter signoff" [(ngModel)]="storyData.signoff" name="signoff">
      <option value="With Love">With Love</option>
      <option value="Sincerely">Sincerely</option>
      <option value="Yours Truly">Yours Truly</option>
      <option value="Very Best">Very Best</option>
      <option value="Love">Love</option>
      <option value="Signed">Signed</option>
      <option value="Thank You">Thank You</option>
      <option value="Best">Best</option>
    </select>
    <br>

    <label for="story-sender-input"> Sender </label>
    <input id="story-sender-input" type="text" placeholder="letter sender" [(ngModel)]="storyData.sender" name="sender">
    <br>

    <button> Save Letter </button>

  </form>
  <br>
  nvm, <a [routerLink]="['/stories']">back to letters</a>
</div>