<nav class="navbar navbar-default navbar-fixed-top navbar-right navbar-custom">
    <div class="container">
      <span>Your's Truly</span>
      <a href="/howitworks" class="btn btn-default how">How It Works</a>
      <a href="/valentine" class="btn btn-default category">Letters by Category</a>
      <a href="/add-story" class="btn btn-default create">Create a Letter</a>
      <button class="btn btn-default logout" (click)="logMeOutPls()"> Log Out </button>
    </div>
  </nav>

<div class="show-container">
  <div *ngIf="currentUser" class="main-container">
    <p *ngIf="logoutError" class="error">
      {{ logoutError }}
    </p>

    

    <div class="header">
      <div class="typewriter">
        <h1> Hello, {{ currentUser.username }}. </h1>
      </div>
      <br>
      <p>hover below to get started.</p>
      <br>
    </div>
<a href="/add-story">
    <img src="../../../assets/images/mail.png"
        onmouseover="this.src='../../../assets/images/mailhovertext.png';"
        onmouseout="this.src='../../../assets/images/mail.png';"/>
</a>

  </div>
</div>
