<div class="front-container">
  <div class="front-container-text">
    <div class="typewriter">
          <h1> Yours Truly </h1>
    </div>
    <div class="main-text">
      <h2>An online letter writing application. 
          Where users can create, share, and view letters for inspiration. </h2>
          <a [routerLink]="['/login']" class="btn btn-default" role="button">Log In</a>

          <a [routerLink]="['/signup']" class="btn btn-default" role="button">Sign Up</a>
    </div>
  </div>
</div>