.front-container {
    height: 100vh;
    /* background-color: #D75D58; */
    color: #221d1d;
    background-image: url("../../../images/InvitationNew.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }


@media screen and (max-width: 37.8125em) {
  .front-container {      
         background: #fff;
         width: 100vw;
         height: 100vh;
         overflow: auto;
         background-image: url("../../../images/invitationmedia.png");
         background-size:cover;
         background-repeat: no-repeat;
         background-position:center;
  }
}

.front-container-text {
    /* padding: 20px; */
    margin: auto;
    padding: 20% 0;
}

.btn {
  width: 25%;
}

.typewriter{
    width: 40%;
    margin: 0 auto;
}

h1 {
    font-family: "Abril Fatface"; 
    font-size: 8rem;
}
h2 {
    font-family: "Abril Fatface";
    font-size: 2.8rem;
    letter-spacing: 0.1em;
}

.main-text {
    width: 40%;
    margin: 0 auto;
}


/*   

.typewriter h1 {
    font-size: 6rem;
    overflow: hidden;
    border-right: 0.15em solid black;
    white-space: nowrap; 
    margin: 0 auto; 
    letter-spacing: 0.15em;
    animation: typing 3.5s steps(30, end), blink-caret 0.5s step-end infinite;
    font-family: "Abril Fatface";
  }
  
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  
  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: black;
    }
  } */