<h2>{{ story.title }}</h2>
<p>{{ story.category }}</p>
<p><i>{{ story.content }}</i></p>


<button *ngIf="story._id" (click)="deleteThisStory()">DELETE LETTER</button>

<div>
  <a [routerLink]="['/stories']">Back to Letters</a>
</div>

<!-- update stories area -->

<form (ngSubmit)="doTheUpdate(story._id, myForm)" #myForm="ngForm" >
  <label for="story-category-input"> Letter Category </label>
  <input id="story-category-input" type="text"  [(ngModel)]="story.category" name="category" value="{{ story.category }}">
  <br>
  <label for="story-title-input"> Letter Name </label>
  <input id="story-title-input" type="text"  [(ngModel)]="story.title" name="title" value="{{ story.title }}">
  <br>
  <label for="story-content-input"> Letter Content </label>
  <input id="story-content-input" type="text"  [(ngModel)]="story.content" name="content" value="{{ story.content }}">
  <br>
  <button type="submit">Update Letter</button>
</form>
