<nav class="navbar navbar-default navbar-fixed-top navbar-right navbar-custom">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
  <div class="container">
    <span>Your's Truly</span>
    <a href="/stories" class="btn btn-default how">Home Page</a>
    <a href="/valentine" class="btn btn-default category">Letters by Category</a>
    <a href="/add-story" class="btn btn-default create">Create a Letter</a>
    <button class="btn btn-default logout" (click)="logMeOutPls()"> Log Out </button>
  </div>
  </div>
</nav>

<div class="show-container">
<!-- <div *ngIf="currentUser" class="main-container">
  <p *ngIf="logoutError" class="error">
    {{ logoutError }}
  </p> -->

  

  <div class="header">
    <div class="typewriter">
      <h1> How It Works </h1>
    </div>
    <div class="text-container">
<h4>
    Yours Truly is an online, open source letter writing application.
    It makes the letter writing process seamless and allows you to search 
    letters for inspiration, or if you just want to copy one! 


    <ol>The steps are simple:<br>
      <li>Create a Letter</li>
      <li>Submit the Letter to our Database</li>
      <li>Click Email and send it on it's way!</li>
    </ol>
</h4>
</div>

</div>
</div>
