<link href='http://fonts.googleapis.com/css?family=Great+Vibes' rel='stylesheet' type='text/css'>
<div class="new-container">
        <h3>Update Letter</h3>
    <form (ngSubmit)="doTheUpdate(story._id, myForm)" #myForm="ngForm">

    <label for="story-category-input"> Letter Category </label>
    <select id="story-category-input" [(ngModel)]="story.category" name="category" value="{{ story.category }}">
        <option value="Valentine">Valentine</option>
        <option value="Anniversary">Anniversary</option>
        <option value="Sorry">Sorry</option>
        <option value="Love">Love</option>
        <option value="Birthday">Birthday</option>
        <option value="Holiday">Holiday</option>
        <option value="Miss">I Miss You</option>
    </select>
    <br>
  
    <label for="story-title-input"> Letter Title </label>
    <input id="story-title-input" type="text"  [(ngModel)]="story.title" name="title" value="{{ story.title }}">
    <br>
  
    <label for="story-salutation-input"> Letter Salutation </label>
    <select id="story-salutation-input" [(ngModel)]="story.salutation" name="salutation" value="{{ story.salutation }}">
        <option value="Dear">Dear</option>
        <option value="Dearest">Dearest</option>
        <option value="Hello">Hello</option>
        <option value="Hi">Hi</option>
        <option value="My">My</option>
        <option value="For">For</option>
        <option value="To">To</option>
    </select>
    <br>
  
    <label for="story-recipient-input"> Letter Recipient </label>
    <input id="story-recipient-input" type="text"  [(ngModel)]="story.recipient" name="recipient" value="{{ story.recipient }}">
    <br>
  
    <label for="story-content-input"> Letter Content </label>
    <input id="story-content-input" type="text"  [(ngModel)]="story.content" name="content" value="{{ story.content }}">
    <br>
  
    <label for="story-signoff-input"> Letter Signoff </label>
    <select id="story-signoff-input" [(ngModel)]="story.signoff" name="signoff" value="{{ story.signoff }}">
        <option value="With Love">With Love</option>
        <option value="Sincerely">Sincerely</option>
        <option value="Yours Truly">Yours Truly</option>
        <option value="Very Best">Very Best</option>
        <option value="Love">Love</option>
        <option value="Signed">Signed</option>
        <option value="Thank You">Thank You</option>
        <option value="Best">Best</option>
    </select>
    <br>
  
    <label for="story-sender-input"> Letter Sender </label>
    <input id="story-sender-input" type="text"  [(ngModel)]="story.sender" name="sender" value="{{ story.sender }}">
    <br>
  
    <button type="submit">Update Letter</button>
  </form>

  <!-- <button *ngIf="story._id" (click)="deleteThisStory()">DELETE LETTER</button>
  <div class="entire-letter">
        <h4>{{ story.title }}</h4>
        <p>Category: {{ story.category }}</p>
        <p class="letter-start"> {{ story.salutation }} {{ story.recipient }}, </p> 
        <p class="letter-content">{{ story.content }}</p>
        <p class="letter-end">{{ story.signoff }},</p>
        <p class="letter-sender">{{ story.sender }}</p>
      </div> -->
  <br>
  nvm, <a [routerLink]="['/stories']">back to letters</a>

  </div>